<!--Main container start -->
<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title">افزودن مقاله</h4>
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>خانه</a></li>
                <li>افزودن مقاله</li>
            </ul>
        </div>
        <div class="row">
            <!-- Your Profile Views Chart -->
            <div class="col-lg-12 m-b30">
                <div class="widget-box">
                    <div class="wc-title">
                        <h4>افزودن مقاله</h4>
                    </div>
                    <div class="widget-inner">
                        <form action="/admin/saveArticle" method="POST" id="addArticleForm"
                              class="edit-profile m-b30"
                              enctype="multipart/form-data">
                            <div class="row">
                                <div class="form-group col-12">
                                    <label for="articleName" class="col-form-label">نام مقاله</label>
                                    <div>
                                        <input id="articleName" name="articleName" class="form-control" type="text"
                                               value="">
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <label for="authorName" class="col-form-label">نام نویسنده</label>
                                    <div>
                                        <input id="authorName" name="authorName" class="form-control" type="text"
                                               value="">
                                    </div>
                                </div>
                                <div class="seperator"></div>
                                <div class="form-group col-12">
                                    <label for="summary" class="col-form-label">چکیده مقاله</label>
                                    <div>
                                        <textarea id="summary" name="summary" class="form-control"> </textarea>
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <input name="content" type="text" class="summernote"/>
                                </div>
                                <div class="form-group col-12">
                                    <input id="files" name="files" type="file"
                                           accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf"
                                           multiple>
                                </div>
                                <div class="form-group col-12">
                                    <input id="saveArticle" type="submit" class="btn btn-lg" value="ذخیره"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Your Profile Views Chart END-->
        </div>
    </div>
</main>