<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title">صندوق پستی</h4>
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>خانه</a></li>
                <li>صندوق پستی</li>
            </ul>
        </div>
        <div class="row">
            <!-- Your Profile Views Chart -->
            <div class="col-lg-12 m-b30">
                <div class="widget-box">
                    <div class="email-wrapper">
                        <div class="email-menu-bar">
                            <div class="compose-mail">
                                <a href="mailbox-compose.html" class="btn btn-block">ارسال پیام</a>
                            </div>
                            <div class="email-menu-bar-inner">
                                <ul>
                                    <li class="active"><a href="mailbox.html"><i class="fa fa-envelope-o"></i>صندوق
                                            ورودی <span class="badge badge-success">8</span></a></li>
                                    <li><a href="mailbox.html"><i class="fa fa-send-o"></i>فرستاده شده</a></li>
                                    <li><a href="mailbox.html"><i class="fa fa-file-text-o"></i>ذخیره شده <span
                                                    class="badge badge-warning">8</span></a></li>
                                    <li><a href="mailbox.html"><i class="fa fa-cloud-upload"></i>صندوق خروجی <span
                                                    class="badge badge-danger">8</span></a></li>
                                    <li><a href="mailbox.html"><i class="fa fa-trash-o"></i>سطل آشغال</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="mail-list-container">
                            <div class="mail-toolbar">
                                <div class="check-all">
                                    <div class="custom-control custom-checkbox checkbox-st1">
                                        <input type="checkbox" class="custom-control-input" id="check1">
                                        <label class="custom-control-label" for="check1"></label>
                                    </div>
                                </div>
                                <div class="mail-search-bar">
                                    <input type="text" class="form-control" placeholder="جستجو"/>
                                </div>
                                <div class="dropdown all-msg-toolbar">
                                    <span class="btn btn-info-icon" data-toggle="dropdown"><i
                                                class="fa fa-ellipsis-v"></i></span>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fa fa-trash-o"></i> حذف </a></li>
                                        <li><a href="#"><i class="fa fa-arrow-down"></i> ذخیره </a></li>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> تعویق</a></li>
                                        <li><a href="#"><i class="fa fa-envelope-open"></i> علامت‌گذاری </a></li>
                                    </ul>
                                </div>
                                <div class="next-prev-btn">
                                    <a href="#"><i class="fa fa-angle-left"></i></a>
                                    <a href="#"><i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                            <div class="mail-box-list">
                                <div class="mail-list-info">
                                    <div class="checkbox-list">
                                        <div class="custom-control custom-checkbox checkbox-st1">
                                            <input type="checkbox" class="custom-control-input" id="check2">
                                            <label class="custom-control-label" for="check2"></label>
                                        </div>
                                    </div>
                                    <div class="mail-rateing">
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <div class="mail-list-title">
                                        <h6>علی امیری</h6>
                                    </div>
                                    <div class="mail-list-title-info">
                                        <p>تغییر رمزعبور با موفقیت انجام شد</p>
                                    </div>
                                    <div class="mail-list-time">
                                        <span>10:59 قبل از ظهر</span>
                                    </div>
                                    <ul class="mailbox-toolbar">
                                        <li data-toggle="tooltip" title="حذف"><i class="fa fa-trash-o"></i></li>
                                        <li data-toggle="tooltip" title="ذخیره"><i class="fa fa-arrow-down"></i></li>
                                        <li data-toggle="tooltip" title="تعویق"><i class="fa fa-clock-o"></i></li>
                                        <li data-toggle="tooltip" title="علامت‌گذاری  "><i
                                                    class="fa fa-envelope-open"></i></li>
                                    </ul>
                                </div>
                                <div class="mail-list-info">
                                    <div class="checkbox-list">
                                        <div class="custom-control custom-checkbox checkbox-st1">
                                            <input type="checkbox" class="custom-control-input" id="check3">
                                            <label class="custom-control-label" for="check3"></label>
                                        </div>
                                    </div>
                                    <div class="mail-rateing">
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <div class="mail-list-title">
                                        <h6>علی امیری</h6>
                                    </div>
                                    <div class="mail-list-title-info">
                                        <p>تغییر رمزعبور با موفقیت انجام شد</p>
                                    </div>
                                    <div class="mail-list-time">
                                        <span>10:59 قبل از ظهر</span>
                                    </div>
                                    <ul class="mailbox-toolbar">
                                        <li data-toggle="tooltip" title="حذف"><i class="fa fa-trash-o"></i></li>
                                        <li data-toggle="tooltip" title="ذخیره"><i class="fa fa-arrow-down"></i></li>
                                        <li data-toggle="tooltip" title="تعویق"><i class="fa fa-clock-o"></i></li>
                                        <li data-toggle="tooltip" title="علامت‌گذاری  "><i
                                                    class="fa fa-envelope-open"></i></li>
                                    </ul>
                                </div>
                                <div class="mail-list-info">
                                    <div class="checkbox-list">
                                        <div class="custom-control custom-checkbox checkbox-st1">
                                            <input type="checkbox" class="custom-control-input" id="check4">
                                            <label class="custom-control-label" for="check4"></label>
                                        </div>
                                    </div>
                                    <div class="mail-rateing">
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <div class="mail-list-title">
                                        <h6>علی امیری</h6>
                                    </div>
                                    <div class="mail-list-title-info">
                                        <p>تغییر رمزعبور با موفقیت انجام شد</p>
                                    </div>
                                    <div class="mail-list-time">
                                        <span>10:59 قبل از ظهر</span>
                                    </div>
                                    <ul class="mailbox-toolbar">
                                        <li data-toggle="tooltip" title="حذف"><i class="fa fa-trash-o"></i></li>
                                        <li data-toggle="tooltip" title="ذخیره"><i class="fa fa-arrow-down"></i></li>
                                        <li data-toggle="tooltip" title="تعویق"><i class="fa fa-clock-o"></i></li>
                                        <li data-toggle="tooltip" title="علامت‌گذاری  "><i
                                                    class="fa fa-envelope-open"></i></li>
                                    </ul>
                                </div>
                                <div class="mail-list-info">
                                    <div class="checkbox-list">
                                        <div class="custom-control custom-checkbox checkbox-st1">
                                            <input type="checkbox" class="custom-control-input" id="check5">
                                            <label class="custom-control-label" for="check5"></label>
                                        </div>
                                    </div>
                                    <div class="mail-rateing">
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <div class="mail-list-title">
                                        <h6>علی امیری</h6>
                                    </div>
                                    <div class="mail-list-title-info">
                                        <p>تغییر رمزعبور با موفقیت انجام شد</p>
                                    </div>
                                    <div class="mail-list-time">
                                        <span>10:59 قبل از ظهر</span>
                                    </div>
                                    <ul class="mailbox-toolbar">
                                        <li data-toggle="tooltip" title="حذف"><i class="fa fa-trash-o"></i></li>
                                        <li data-toggle="tooltip" title="ذخیره"><i class="fa fa-arrow-down"></i></li>
                                        <li data-toggle="tooltip" title="تعویق"><i class="fa fa-clock-o"></i></li>
                                        <li data-toggle="tooltip" title="علامت‌گذاری  "><i
                                                    class="fa fa-envelope-open"></i></li>
                                    </ul>
                                </div>
                                <div class="mail-list-info">
                                    <div class="checkbox-list">
                                        <div class="custom-control custom-checkbox checkbox-st1">
                                            <input type="checkbox" class="custom-control-input" id="check6">
                                            <label class="custom-control-label" for="check6"></label>
                                        </div>
                                    </div>
                                    <div class="mail-rateing">
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <div class="mail-list-title">
                                        <h6>علی امیری</h6>
                                    </div>
                                    <div class="mail-list-title-info">
                                        <p>تغییر رمزعبور با موفقیت انجام شد</p>
                                    </div>
                                    <div class="mail-list-time">
                                        <span>10:59 قبل از ظهر</span>
                                    </div>
                                    <ul class="mailbox-toolbar">
                                        <li data-toggle="tooltip" title="حذف"><i class="fa fa-trash-o"></i></li>
                                        <li data-toggle="tooltip" title="ذخیره"><i class="fa fa-arrow-down"></i></li>
                                        <li data-toggle="tooltip" title="تعویق"><i class="fa fa-clock-o"></i></li>
                                        <li data-toggle="tooltip" title="علامت‌گذاری  "><i
                                                    class="fa fa-envelope-open"></i></li>
                                    </ul>
                                </div>
                                <div class="mail-list-info">
                                    <div class="checkbox-list">
                                        <div class="custom-control custom-checkbox checkbox-st1">
                                            <input type="checkbox" class="custom-control-input" id="check7">
                                            <label class="custom-control-label" for="check7"></label>
                                        </div>
                                    </div>
                                    <div class="mail-rateing">
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <div class="mail-list-title">
                                        <h6>علی امیری</h6>
                                    </div>
                                    <div class="mail-list-title-info">
                                        <p>تغییر رمزعبور با موفقیت انجام شد</p>
                                    </div>
                                    <div class="mail-list-time">
                                        <span>10:59 قبل از ظهر</span>
                                    </div>
                                    <ul class="mailbox-toolbar">
                                        <li data-toggle="tooltip" title="حذف"><i class="fa fa-trash-o"></i></li>
                                        <li data-toggle="tooltip" title="ذخیره"><i class="fa fa-arrow-down"></i></li>
                                        <li data-toggle="tooltip" title="تعویق"><i class="fa fa-clock-o"></i></li>
                                        <li data-toggle="tooltip" title="علامت‌گذاری  "><i
                                                    class="fa fa-envelope-open"></i></li>
                                    </ul>
                                </div>
                                <div class="mail-list-info">
                                    <div class="checkbox-list">
                                        <div class="custom-control custom-checkbox checkbox-st1">
                                            <input type="checkbox" class="custom-control-input" id="check8">
                                            <label class="custom-control-label" for="check8"></label>
                                        </div>
                                    </div>
                                    <div class="mail-rateing">
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <div class="mail-list-title">
                                        <h6>علی امیری</h6>
                                    </div>
                                    <div class="mail-list-title-info">
                                        <p>تغییر رمزعبور با موفقیت انجام شد</p>
                                    </div>
                                    <div class="mail-list-time">
                                        <span>10:59 قبل از ظهر</span>
                                    </div>
                                    <ul class="mailbox-toolbar">
                                        <li data-toggle="tooltip" title="حذف"><i class="fa fa-trash-o"></i></li>
                                        <li data-toggle="tooltip" title="ذخیره"><i class="fa fa-arrow-down"></i></li>
                                        <li data-toggle="tooltip" title="تعویق"><i class="fa fa-clock-o"></i></li>
                                        <li data-toggle="tooltip" title="علامت‌گذاری  "><i
                                                    class="fa fa-envelope-open"></i></li>
                                    </ul>
                                </div>
                                <div class="mail-list-info">
                                    <div class="checkbox-list">
                                        <div class="custom-control custom-checkbox checkbox-st1">
                                            <input type="checkbox" class="custom-control-input" id="check9">
                                            <label class="custom-control-label" for="check9"></label>
                                        </div>
                                    </div>
                                    <div class="mail-rateing">
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <div class="mail-list-title">
                                        <h6>علی امیری</h6>
                                    </div>
                                    <div class="mail-list-title-info">
                                        <p>تغییر رمزعبور با موفقیت انجام شد</p>
                                    </div>
                                    <div class="mail-list-time">
                                        <span>10:59 قبل از ظهر</span>
                                    </div>
                                    <ul class="mailbox-toolbar">
                                        <li data-toggle="tooltip" title="حذف"><i class="fa fa-trash-o"></i></li>
                                        <li data-toggle="tooltip" title="ذخیره"><i class="fa fa-arrow-down"></i></li>
                                        <li data-toggle="tooltip" title="تعویق"><i class="fa fa-clock-o"></i></li>
                                        <li data-toggle="tooltip" title="علامت‌گذاری  "><i
                                                    class="fa fa-envelope-open"></i></li>
                                    </ul>
                                </div>
                                <div class="mail-list-info">
                                    <div class="checkbox-list">
                                        <div class="custom-control custom-checkbox checkbox-st1">
                                            <input type="checkbox" class="custom-control-input" id="check10">
                                            <label class="custom-control-label" for="check10"></label>
                                        </div>
                                    </div>
                                    <div class="mail-rateing">
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <div class="mail-list-title">
                                        <h6>علی امیری</h6>
                                    </div>
                                    <div class="mail-list-title-info">
                                        <p>تغییر رمزعبور با موفقیت انجام شد</p>
                                    </div>
                                    <div class="mail-list-time">
                                        <span>10:59 قبل از ظهر</span>
                                    </div>
                                    <ul class="mailbox-toolbar">
                                        <li data-toggle="tooltip" title="حذف"><i class="fa fa-trash-o"></i></li>
                                        <li data-toggle="tooltip" title="ذخیره"><i class="fa fa-arrow-down"></i></li>
                                        <li data-toggle="tooltip" title="تعویق"><i class="fa fa-clock-o"></i></li>
                                        <li data-toggle="tooltip" title="علامت‌گذاری  "><i
                                                    class="fa fa-envelope-open"></i></li>
                                    </ul>
                                </div>
                                <div class="mail-list-info">
                                    <div class="checkbox-list">
                                        <div class="custom-control custom-checkbox checkbox-st1">
                                            <input type="checkbox" class="custom-control-input" id="check11">
                                            <label class="custom-control-label" for="check11"></label>
                                        </div>
                                    </div>
                                    <div class="mail-rateing">
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <div class="mail-list-title">
                                        <h6>علی امیری</h6>
                                    </div>
                                    <div class="mail-list-title-info">
                                        <p>تغییر رمزعبور با موفقیت انجام شد</p>
                                    </div>
                                    <div class="mail-list-time">
                                        <span>10:59 قبل از ظهر</span>
                                    </div>
                                    <ul class="mailbox-toolbar">
                                        <li data-toggle="tooltip" title="حذف"><i class="fa fa-trash-o"></i></li>
                                        <li data-toggle="tooltip" title="ذخیره"><i class="fa fa-arrow-down"></i></li>
                                        <li data-toggle="tooltip" title="تعویق"><i class="fa fa-clock-o"></i></li>
                                        <li data-toggle="tooltip" title="علامت‌گذاری  "><i
                                                    class="fa fa-envelope-open"></i></li>
                                    </ul>
                                </div>
                                <div class="mail-list-info">
                                    <div class="checkbox-list">
                                        <div class="custom-control custom-checkbox checkbox-st1">
                                            <input type="checkbox" class="custom-control-input" id="check12">
                                            <label class="custom-control-label" for="check12"></label>
                                        </div>
                                    </div>
                                    <div class="mail-rateing">
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <div class="mail-list-title">
                                        <h6>علی امیری</h6>
                                    </div>
                                    <div class="mail-list-title-info">
                                        <p>تغییر رمزعبور با موفقیت انجام شد</p>
                                    </div>
                                    <div class="mail-list-time">
                                        <span>10:59 قبل از ظهر</span>
                                    </div>
                                    <ul class="mailbox-toolbar">
                                        <li data-toggle="tooltip" title="حذف"><i class="fa fa-trash-o"></i></li>
                                        <li data-toggle="tooltip" title="ذخیره"><i class="fa fa-arrow-down"></i></li>
                                        <li data-toggle="tooltip" title="تعویق"><i class="fa fa-clock-o"></i></li>
                                        <li data-toggle="tooltip" title="علامت‌گذاری  "><i
                                                    class="fa fa-envelope-open"></i></li>
                                    </ul>
                                </div>
                                <div class="mail-list-info">
                                    <div class="checkbox-list">
                                        <div class="custom-control custom-checkbox checkbox-st1">
                                            <input type="checkbox" class="custom-control-input" id="check13">
                                            <label class="custom-control-label" for="check13"></label>
                                        </div>
                                    </div>
                                    <div class="mail-rateing">
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <div class="mail-list-title">
                                        <h6>علی امیری</h6>
                                    </div>
                                    <div class="mail-list-title-info">
                                        <p>تغییر رمزعبور با موفقیت انجام شد</p>
                                    </div>
                                    <div class="mail-list-time">
                                        <span>10:59 قبل از ظهر</span>
                                    </div>
                                    <ul class="mailbox-toolbar">
                                        <li data-toggle="tooltip" title="حذف"><i class="fa fa-trash-o"></i></li>
                                        <li data-toggle="tooltip" title="ذخیره"><i class="fa fa-arrow-down"></i></li>
                                        <li data-toggle="tooltip" title="تعویق"><i class="fa fa-clock-o"></i></li>
                                        <li data-toggle="tooltip" title="علامت‌گذاری  "><i
                                                    class="fa fa-envelope-open"></i></li>
                                    </ul>
                                </div>
                                <div class="mail-list-info">
                                    <div class="checkbox-list">
                                        <div class="custom-control custom-checkbox checkbox-st1">
                                            <input type="checkbox" class="custom-control-input" id="check14">
                                            <label class="custom-control-label" for="check14"></label>
                                        </div>
                                    </div>
                                    <div class="mail-rateing">
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <div class="mail-list-title">
                                        <h6>علی امیری</h6>
                                    </div>
                                    <div class="mail-list-title-info">
                                        <p>تغییر رمزعبور با موفقیت انجام شد</p>
                                    </div>
                                    <div class="mail-list-time">
                                        <span>10:59 قبل از ظهر</span>
                                    </div>
                                    <ul class="mailbox-toolbar">
                                        <li data-toggle="tooltip" title="حذف"><i class="fa fa-trash-o"></i></li>
                                        <li data-toggle="tooltip" title="ذخیره"><i class="fa fa-arrow-down"></i></li>
                                        <li data-toggle="tooltip" title="تعویق"><i class="fa fa-clock-o"></i></li>
                                        <li data-toggle="tooltip" title="علامت‌گذاری  "><i
                                                    class="fa fa-envelope-open"></i></li>
                                    </ul>
                                </div>
                                <div class="mail-list-info">
                                    <div class="checkbox-list">
                                        <div class="custom-control custom-checkbox checkbox-st1">
                                            <input type="checkbox" class="custom-control-input" id="check15">
                                            <label class="custom-control-label" for="check15"></label>
                                        </div>
                                    </div>
                                    <div class="mail-rateing">
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <div class="mail-list-title">
                                        <h6>علی امیری</h6>
                                    </div>
                                    <div class="mail-list-title-info">
                                        <p>تغییر رمزعبور با موفقیت انجام شد</p>
                                    </div>
                                    <div class="mail-list-time">
                                        <span>10:59 قبل از ظهر</span>
                                    </div>
                                    <ul class="mailbox-toolbar">
                                        <li data-toggle="tooltip" title="حذف"><i class="fa fa-trash-o"></i></li>
                                        <li data-toggle="tooltip" title="ذخیره"><i class="fa fa-arrow-down"></i></li>
                                        <li data-toggle="tooltip" title="تعویق"><i class="fa fa-clock-o"></i></li>
                                        <li data-toggle="tooltip" title="علامت‌گذاری  "><i
                                                    class="fa fa-envelope-open"></i></li>
                                    </ul>
                                </div>
                                <div class="mail-list-info">
                                    <div class="checkbox-list">
                                        <div class="custom-control custom-checkbox checkbox-st1">
                                            <input type="checkbox" class="custom-control-input" id="check16">
                                            <label class="custom-control-label" for="check16"></label>
                                        </div>
                                    </div>
                                    <div class="mail-rateing">
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <div class="mail-list-title">
                                        <h6>علی امیری</h6>
                                    </div>
                                    <div class="mail-list-title-info">
                                        <p>تغییر رمزعبور با موفقیت انجام شد</p>
                                    </div>
                                    <div class="mail-list-time">
                                        <span>10:59 قبل از ظهر</span>
                                    </div>
                                    <ul class="mailbox-toolbar">
                                        <li data-toggle="tooltip" title="حذف"><i class="fa fa-trash-o"></i></li>
                                        <li data-toggle="tooltip" title="ذخیره"><i class="fa fa-arrow-down"></i></li>
                                        <li data-toggle="tooltip" title="تعویق"><i class="fa fa-clock-o"></i></li>
                                        <li data-toggle="tooltip" title="علامت‌گذاری  "><i
                                                    class="fa fa-envelope-open"></i></li>
                                    </ul>
                                </div>
                                <div class="mail-list-info">
                                    <div class="checkbox-list">
                                        <div class="custom-control custom-checkbox checkbox-st1">
                                            <input type="checkbox" class="custom-control-input" id="check17">
                                            <label class="custom-control-label" for="check17"></label>
                                        </div>
                                    </div>
                                    <div class="mail-rateing">
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <div class="mail-list-title">
                                        <h6>علی امیری</h6>
                                    </div>
                                    <div class="mail-list-title-info">
                                        <p>تغییر رمزعبور با موفقیت انجام شد</p>
                                    </div>
                                    <div class="mail-list-time">
                                        <span>10:59 قبل از ظهر</span>
                                    </div>
                                    <ul class="mailbox-toolbar">
                                        <li data-toggle="tooltip" title="حذف"><i class="fa fa-trash-o"></i></li>
                                        <li data-toggle="tooltip" title="ذخیره"><i class="fa fa-arrow-down"></i></li>
                                        <li data-toggle="tooltip" title="تعویق"><i class="fa fa-clock-o"></i></li>
                                        <li data-toggle="tooltip" title="علامت‌گذاری  "><i
                                                    class="fa fa-envelope-open"></i></li>
                                    </ul>
                                </div>
                                <div class="mail-list-info">
                                    <div class="checkbox-list">
                                        <div class="custom-control custom-checkbox checkbox-st1">
                                            <input type="checkbox" class="custom-control-input" id="check18">
                                            <label class="custom-control-label" for="check18"></label>
                                        </div>
                                    </div>
                                    <div class="mail-rateing">
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <div class="mail-list-title">
                                        <h6>علی امیری</h6>
                                    </div>
                                    <div class="mail-list-title-info">
                                        <p>تغییر رمزعبور با موفقیت انجام شد</p>
                                    </div>
                                    <div class="mail-list-time">
                                        <span>10:59 قبل از ظهر</span>
                                    </div>
                                    <ul class="mailbox-toolbar">
                                        <li data-toggle="tooltip" title="حذف"><i class="fa fa-trash-o"></i></li>
                                        <li data-toggle="tooltip" title="ذخیره"><i class="fa fa-arrow-down"></i></li>
                                        <li data-toggle="tooltip" title="تعویق"><i class="fa fa-clock-o"></i></li>
                                        <li data-toggle="tooltip" title="علامت‌گذاری  "><i
                                                    class="fa fa-envelope-open"></i></li>
                                    </ul>
                                </div>
                                <div class="mail-list-info">
                                    <div class="checkbox-list">
                                        <div class="custom-control custom-checkbox checkbox-st1">
                                            <input type="checkbox" class="custom-control-input" id="check19">
                                            <label class="custom-control-label" for="check19"></label>
                                        </div>
                                    </div>
                                    <div class="mail-rateing">
                                        <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                    <div class="mail-list-title">
                                        <h6>علی امیری</h6>
                                    </div>
                                    <div class="mail-list-title-info">
                                        <p>تغییر رمزعبور با موفقیت انجام شد</p>
                                    </div>
                                    <div class="mail-list-time">
                                        <span>10:59 قبل از ظهر</span>
                                    </div>
                                    <ul class="mailbox-toolbar">
                                        <li data-toggle="tooltip" title="حذف"><i class="fa fa-trash-o"></i></li>
                                        <li data-toggle="tooltip" title="ذخیره"><i class="fa fa-arrow-down"></i></li>
                                        <li data-toggle="tooltip" title="تعویق"><i class="fa fa-clock-o"></i></li>
                                        <li data-toggle="tooltip" title="علامت‌گذاری  "><i
                                                    class="fa fa-envelope-open"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Your Profile Views Chart END-->
        </div>
    </div>
</main>