

<form action="/auth/login" method="post">
    <input placeholder="Mobile" type="text" name="mobile">
    <input placeholder="Password" type="password" name="password">

    <button type="submit">Login</button>
</form>
